<p>content-home works!</p>
<h2>Register form:</h2>
<!-- formGroup es el nombre de nuestro formFroup del .ts -->
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
    <!-- Name fieldset -->
    <fieldset>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
        <!-- If invalid / modified / submitted = true -->
        <p *ngIf="!userRegisterForm.get('name')?.valid && (userRegisterForm.get('name')?.dirty || submitted)">Name should be under 20 characters!</p>
    </fieldset>
    <!-- Fieldset - password -->
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
        <!-- If invalid / has been password / submitted = true -->
        <p *ngIf="userRegisterForm.get('password')?.errors?.['required'] && (userRegisterForm.get('password')?.dirty || submitted)">Password must be filled</p>
        <p *ngIf="userRegisterForm.get('password')?.errors?.['pattern']">Password must contain 8 characters, one letter, one number and a symbol</p>
    </fieldset>
    <!-- Fieldset - repeatPassword -->
    <fieldset>
        <label for="passwordRepeat">Repeat password:</label>
        <input type="password" id="passwordRepeat" formControlName="passwordRepeat" />
        <!-- If invalid / has been password / submitted = true -->
        <p *ngIf="!userRegisterForm.get('passwordRepeat')?.valid && (userRegisterForm.get('passwordRepeat')?.dirty || submitted)">Passwords not matching</p>
    </fieldset>
    <p *ngIf="submitted && !this.userRegisterForm.valid">Form has errors</p>
    <!-- Button disabled until form is valid -->
    <button type="submit" [disabled]="submitted">Submit</button>
</form>
